@media only screen and (max-width: 600px) {
  .card #sideby {
    display:none;
  }
}

@media only screen and (min-width: 600px) {
  .card #carouselIndicators {
    display:none;
  }
}

.card #carouselIndicators .carousel-indicators {
  list-style:circle;
  position: relative;
}

.card #carouselIndicators li {
  background-color: #bb9140 !important;
}