@import "../../style/abstracts/all";

:local(.container) {
    width: 100%;
    margin: auto;
    overflow: hidden;
    :local(.activityImage) {
        width: 100%;
        height: auto;
        padding: 20px 0;
        margin: auto;
    }

    :local(.header) {
        line-height: 5px;
        text-align: center;
        margin: auto;
        width: 35%;
        & * {
            margin: 10px;
        }
    }

    :local(.mainText) {
        width: 55%;
        margin: auto;
        margin-bottom: 40px;
        & * {
            padding-top: 10px;
            margin-top: 10px;
            margin-bottom: 20px;
            text-indent: 20px;
            text-align: justify;
        }
    }
}

:local(.activityCard) {
    width: 18rem;
    margin: 40px 20px;
    background-color: $golden-color-background;
    border-style: none;
    border-radius: 0;
    :local(.activityImage) {
        width: inherit;
        height: 310px;
        object-fit: cover;
        padding: 0 0;
    }
    :local(.activityCardTitle){
        margin-top: 5px;
    }
    a {
        color: $primary-text-color;
        &:focus,
        &:hover {
          color: $primary-color;
          text-decoration: none;
          }
    }
}

:local(.activityCardContainer) {
    width: 100%;
    margin: auto;
    justify-content: center;
}
