@import "../../style/abstracts/all";

:local(.container) {
    max-width: 1200px;
    margin: auto;
    :local(.callToAction) {
        text-align: center;
        span{
            padding: 5px 5px;
        }
    }
}

:local(.backgroundImage){
    width: 100%;
    position: relative;
}

:local(.welcomeText) {
    text-align: center;
    padding: 35px;
    line-height: 5em;
    width: 40%;
    margin: auto;
}
