@import "../../style/abstracts/all";

:local(.container) {
    min-width: 100%;
    padding: 0;
    :local(.callToAction) {
        text-align: center;
        span{
            padding: 5px 5px;
        }
    }
}

:local(.backgroundImage){
    width: 100%;
    height: 100%;
    border-radius: 0;
}

:local(.welcomeText) {
    text-align: center;
    padding: 35px;
    line-height: 5em;
    width: 70%;
    margin: auto;
    h5{
        text-align: center;
        width: 100%;
    }
}
