@import "../../style/abstracts/all";

:local(.formContainer) {
    background-color: #f5f3e9;
    justify-content: center;
    margin: 30px 0;
    padding: 20px 0;
}

:local(.formGroup) {
    width: 50%;
    margin: auto;
    padding: 8px;
}

:local(.label) {
    font-weight: bold;
}

:local(.formGroupInline){
    display: inline;
    margin: auto;
}


