@import "../../style/abstracts/all";

:local(.breadcrumbs) {
    ul {
      list-style: none;
      padding: 15px 10px;
      margin: 0;
  
      li {
        display: inline-block;
  
        a,
        span {
          color: black;
        }
  
        &:last-child {
          a,
          span {
            color: rgba(0, 0, 0, 0.75);
          }
        }
  
        &:not(:last-child):after {
          display: inline-block;
          content: ' | ';
          margin: 0 8px;
          color: $primary-color;
          font-weight: bold;

        }
      }
    }
  }
  