@import "../../style/abstracts/all";

:local(.footer) {
  background-color: $dark-background;
  color: $dark-background-text-color;
  padding: 50px;
  :local(.contactInfo) {
    text-align: center;
  }
  :local(.container) {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    :local(.socialMediaLinks) {
      text-align: center;
      a {
        display: block;
        background-color: $primary-color;
        color: $primary-text-color;
        font-size: 20px;
        line-height: 32px;
        width: 32px;
        height: 32px;
        text-align: center;
        border-radius: 50%;
        margin: 10px auto;
        &:hover,
        &:focus {
          color: $dark-background-text-color;
        }
      }
    }
    :local(.olavsRoseImg) {
      margin: auto;
    }
  }
  
  :local(.adminContainer) {
    color: $dark-background-text-color;
    text-align: right;
    padding-top: 150px;
    a {
      color: $dark-background-text-color;
    }
  }

}
