@import "../../style/abstracts/all";

:local(.container) {
    background-color: $golden-color-background;
    margin: 40px auto;

    :local(.row) {
        padding: 4% 5%;
    }

    :local(.col) {
        padding: 3% 2%;
        text-align: left;
        h6 {
            padding-top: 35px;
        }
        p {
            padding: 10px 0;
        }
    }

}
