@import "./style/abstracts/_all.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";


:local(.appContainer) {
    position: absolute;
    height: calc(100% - 56px);
    @media (min-width: $screen-sm) {
      height: calc(100% - 64px);
    }
    overflow-y: scroll;
    width: 100%;
  }